@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
    color: #ecfeff;
    background-color: #0f172a;
    font-family: 'Kanit', sans-serif;
}

form>div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 10px;
}

input {
    color: black;
}

input[type="submit"] {
    background-color: #0ea5e9;
    font-weight: bold;
    color: #ecfeff;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 8px 16px 8px 16px;
    margin-top: 1rem;
}

input[type="submit"]:hover {
    background-color: #38bdf8;
}

label>input[type="submit"] {
    padding: 0;
    background-color: #f43f5e;
    margin: 0;
}

label>input[type="submit"]:hover {
    padding: 0;
    background-color: #fb7185;
}

form>label {
    margin-top: 1rem;
    display: flex;
    align-items: stretch;
    gap: 1rem;
    background-color: #f43f5e;
    font-weight: bold;
    color: #ecfeff;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 6px 16px 7px 14px;
    width: fit-content;
}

form>label:hover {
    background-color: #fb7185;
}

a {
    color: #ecfeff;
    text-decoration: none;
    display: flex;
    align-items: stretch;
    gap: 1rem;
}

li a {
    color: #0ea5e9;
}

li a:hover {
    color: #7dd3fc;
}

p span {
    color: #8b5cf6;
    margin-right: 1rem;
    font-weight: bold;
}